page-job-details1 {
    ion-content
    {
    [jobinfo]
     {text-align:center;
     h2 {
        color:$black3;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 500;
        padding:0px 15px;
    }
     p
                { 
                margin-top: 5px;    
                line-height: 1.25;
                padding:0px 15px;
                font-size: 13px;
                margin-bottom: 7px;
                display:flex;
                justify-content: center;
                img
                {
                    height: 16px;
                    min-width: 14px;
                    margin-right: 5px;
                }
                &[address]
                {
                color:$black4;
                }
                &[briefcase]
                {    align-items: center;
                color:$grey4;
                }
                } 
                 [userimg]
              { 	
                   position: relative;
                   text-align: center;
                   margin-top: -40px;
                   img
                   {
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                    width:100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 2px solid $white;
                    margin: 0 auto;
                    text-align: center;
                   }
              }
    [jobimg]
     {    position: relative;
    
        background: #f7f7f7;
    
       height:100px;
       ion-badge
       {
                    position: absolute;
                    right: 17px;
                    top: 17px;
                    background: $ltblue;
                    color: $primary;
                    padding: 6px 12px;   
                    font-size: 13px;
                    font-weight: 500;
                    border-radius: 30px;
       }
     }
    }
     [jobdetail]
     {  padding: 0px 15px;
        margin-top: 15px;
        margin-bottom: 22px;
        ion-item {
        ion-icon
        {
        color:$primary;
        font-size: 25px;
        margin: 0;
        }   
        padding: 0px;
        border-bottom: 2px solid $ltgrey;
        .item-inner
        {
         margin-left: 0!important;
         border:none!important;
        } 
        ion-label
        {
         margin-left:10px;
         h2{
         margin-bottom: 4px;
         }
         p
         {    white-space: normal;
         span
         {display: inline-block;
        background: $secondary;
        color: $white;
        padding: 2px 10px;
        border-radius: 4px;
         }
         }
        }
    }
         [joblist]
         {    
           margin-bottom: 20px;
            padding: 10px 15px;
            background:$white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            p
             {   
                margin-top: 0;
                font-size: 13px; 
                line-height: 1.5;	
                color:$grey4;
             }
             h2
            {
                &[heading]
                {font-size: 20px;
                margin-top: 0px;
                position:relative;
                z-index: 1;
                &:after {
                    content: '';
                    background: #b7ccde;
                    height: 9px;
                    width: 90px;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    z-index: -1;
                }
                }
            }
          }
        }
    }
    }
    