<ion-header>
  <ion-navbar color="primary" text-center>
	<button ion-button menuToggle> 
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Profile" | translate}}</ion-title>
	
	<ion-buttons end>
	<button ion-button > 
      <ion-icon name="notifications"></ion-icon>
    </button>
	
	</ion-buttons>
  </ion-navbar>
</ion-header> 
<ion-content>

<div profileinfo>
<div profileimg>
  <img src="assets/img/bg-profile.jpg"/>
</div>
<div userimg>
  <label for="editphoto">
     <ion-icon name="ios-create-outline"></ion-icon>
  </label>
   <ng-container>
             
               <input type="file" id="editphoto" name="Choose File" (change)="onChange($event)" style="display:none">
           </ng-container>
   
<ng-container *ngIf="userProfiles.photoURL">
            <img src="{{userProfiles.photoURL}}" width="80" height="80" >
         </ng-container>
         <ng-container *ngIf="!userProfiles.photoURL" >
            <img src="{{values.avatar}}" width="80" height="80">
         </ng-container>
<h2>{{userProfiles.displayName}} {{userProfiles.lastName}}</h2>
</div>
</div>
<div profilesetting>
     <ion-segment [(ngModel)]="profiletab">
		<ion-segment-button value="Basic">
		   Basic Info
		</ion-segment-button>
			<ion-segment-button value="pwd">
		   Change Password
		</ion-segment-button>
  </ion-segment>
   <div [ngSwitch]="profiletab">
	<ion-list *ngSwitchCase="'Basic'">
	<form>
            
             <div form-group>
               <label>Full Name</label>
                <ion-item>
                  <ion-label><ion-icon name="ios-person-outline"></ion-icon></ion-label>
                  <ion-input placeholder="Enter First Name" type="text" value="{{userProfiles.displayName}} {{userProfiles.lastName}}"></ion-input>
               </ion-item>
             </div> 
			   
			   <div form-group>
               <label>Email Address</label>
                <ion-item>
                  <ion-label><ion-icon name="ios-mail-outline"></ion-icon></ion-label>
                 <ion-input  placeholder="Enter Email Address"  type="email" value="{{userProfiles.email}}"></ion-input>
               </ion-item>
             </div> 
			 <div form-group>
			<label>Phone Number</label>
			<ion-item lines="none">
			<ion-label>
			<ion-icon name="ios-call-outline"></ion-icon>
			</ion-label>
			<ion-input required type="text"  placeholder="Enter Phone Number" value="+91 9874563210"></ion-input>
			</ion-item>
			</div>
		    	<div form-group>
<label>Profession </label>
<ion-item lines="none">
<ion-label>
<ion-icon name="ios-person-outline"></ion-icon>
</ion-label>
<ion-select  placeholder="Select Your Profession">
				 <ion-option> Dental Assistant  </ion-option>
				 <ion-option>  Dental Hygienist    </ion-option>
				 <ion-option>  Dentist     </ion-option>
				</ion-select>
</ion-item>
</div>
			<div form-group>
			<label>Miles From Their Vicinity</label>
			<ion-item lines="none">
			<ion-label>
			<ion-icon name="ios-speedometer-outline"></ion-icon>
			</ion-label>
			<ion-input required type="text"  placeholder="Enter Miles"></ion-input>
			</ion-item>
			</div>
	<div form-group>
<label>Gender </label>
<ion-item lines="none">
<ion-label>
<ion-icon name="ios-person-outline"></ion-icon>
</ion-label>

				 <ion-select [(ngModel)]="form.europe"  name="europe" placeholder="Select">
             	 <ion-option> Dental Assistant  </ion-option>
				 <ion-option>  Dental Hygienist    </ion-option>
				 <ion-option>  Dentist     </ion-option>
               </ion-select>
</ion-item>
</div>
			 
			<div form-group>
			<label>Birthday</label>
			<ion-item lines="none">
			<ion-label>
			<ion-icon name="ios-calendar-outline"></ion-icon>
			</ion-label>
			 <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="date" name="something"></ion-datetime>
			</ion-item>
			</div>
  <button round ion-button btnsubmit text-uppercase block color="secondary"  [disabled]="disableSubmit" (click)="addProduct()" >
        Submit
      </button>
	</form>
	
	
	
	</ion-list>
		<ion-list *ngSwitchCase="'pwd'" >
		<ng-container  *ngIf="!userProfiles.facebook">
         <form #f="ngForm">
		 
		   <div form-group>
               <label>{{"Password" | translate}}</label>
                <ion-item>
                  <ion-label><ion-icon name="ios-lock-outline"></ion-icon></ion-label>
				   <ion-input required type="password" placeholder="Enter Password"  [(ngModel)]="form.password" name="password"></ion-input>
					
					
               </ion-item>
             </div> 
		 
          
      <button round ion-button btnsubmit text-uppercase block color="secondary" (click)="changePassword(form)">
        
        <div>{{"ChangePassword" | translate}}</div>
      </button>

            
         </form>
      </ng-container>
		
		

	
	</ion-list>
	</div>
  
  
   
</div>
  <!--div class="bg">
  </div>

  <div class="main-cnt">
  
	
	

         <div *ngIf="userProfiles.photoURL" style = "margin-top:-200px;">
            <img src="{{userProfiles.photoURL}}" width="80" height="80" style="display: block; margin-left: auto; margin-right: auto;background:none;" class="circle-pic">
         </div>
         <div *ngIf="!userProfiles.photoURL" style = "margin-top:-200px;">
            <img src="{{values.avatar}}" width="80" height="80" style="display: block; margin-left: auto; margin-right: auto;background:none;" class="circle-pic">
         </div>

      <h3 text-center style = "color: white;">{{userProfiles.displayName}} {{userProfiles.lastName}}</h3>  
	  
      

	
    <ion-list no-lines>
	
	
      <ion-item>
	  
        <ion-icon name="contacts" item-start></ion-icon>
        Email: {{userProfiles.email}}
        
      </ion-item>
      <ion-item>
        <ion-icon name="logo-facebook" item-start></ion-icon>
        Gender: {{userProfiles.europeResult}}
        
      </ion-item>
      <ion-item>
        <ion-icon name="logo-instagram" item-start></ion-icon>
        Birthday: {{userProfiles.birthday}}
        
      </ion-item>
	  

	  
	  
	 
	  
	  
	    <ion-item>
	  <button ion-button icon-left (click)="myOrder()" clear big>
        <ion-icon name="folder"></ion-icon>
        {{"My All Education" | translate}}
      </button>
	  </ion-item>
	  
	  	  <ion-item>
	  <button ion-button icon-left  (click)="address(userProfiles)" clear big>
        <ion-icon name="build"></ion-icon>
        {{"Add new Education " | translate}}
      </button>
	  </ion-item>
	  
	 
	  
	  <ion-item>
               <ion-thumbnail *ngIf="downloadURL != null">
                  <img src="{{downloadURL}}">
               </ion-thumbnail>
               <input type="file" name="Choose File" (change)="onChange($event)">
            </ion-item>
	  
	
	  
	  
	
	  
    </ion-list>
	
	
	  <div class="error-message">
           <ion-label color="danger" text-wrap>{{errorMessage}}</ion-label>
        </div>
      <button ion-button block color="secondary" [disabled]="disableSubmit" (click)="addProduct()">Save</button-->
	<!--
	 <ion-card style = "background-color:#D2F5E5" *ngIf="!userProfiles.facebook">
         <form #f="ngForm" style = "background-color:#D2F5E5">
            <ion-list style = "background-color:#D2F5E5">
				<ion-item style = "background-color:#D2F5E5">
                  <ion-label floating style ="background-color:white;">{{"Password" | translate}}</ion-label>
                  <ion-input required type="password" [(ngModel)]="form.password" name="password"></ion-input>
               </ion-item>
            </ion-list>
      <button ion-button icon-left (click)="changePassword(form)" clear big>
        
        <div>{{"ChangePassword" | translate}}</div>
      </button>

            
         </form>
      </ion-card>
	
  </div>  -->
</ion-content>