<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560807104459-06m518a2eku4qq5jf5h9egiup9lgf8oq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560807104459-06m518a2eku4qq5jf5h9egiup9lgf8oq</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Al2redIBq7OV-r53JmJvxc1mlBwqOgM</string>
	<key>GCM_SENDER_ID</key>
	<string>560807104459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.job.poster</string>
	<key>PROJECT_ID</key>
	<string>dental-bridge-7249f</string>
	<key>STORAGE_BUCKET</key>
	<string>dental-bridge-7249f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560807104459:ios:a2fddb51cb6a836e44304e</string>
	<key>DATABASE_URL</key>
	<string>https://dental-bridge-7249f-default-rtdb.firebaseio.com</string>
</dict>
</plist>