<ion-header>
	<ion-navbar color="primary" text-center>
	<button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
	  </button>  
	  <ion-title>Change Password</ion-title>
	</ion-navbar>
  </ion-header>


<ion-content parallax style = "background-color : #DCF7C2;">
  <div class="bg">
  </div>

  <div class="main-cnt">
  <!--
    <img src="../assets/img/dp.jpg" class="dp">
	-->
	
	

         <div *ngIf="userProfiles.photoURL" style = "margin-top:-200px;">
            <img src="{{userProfiles.photoURL}}" width="80" height="80" style="display: block; margin-left: auto; margin-right: auto;background:none;" class="circle-pic">
         </div>
         <div *ngIf="!userProfiles.photoURL" style = "margin-top:-200px;">
            <img src="{{values.avatar}}" width="80" height="80" style="display: block; margin-left: auto; margin-right: auto;background:none;" class="circle-pic">
         </div>

      <h3 text-center style = "color: white;">{{userProfiles.displayName}} {{userProfiles.lastName}}</h3>  
	
	 <ion-card style = "background-color:#98EA69;" *ngIf="!userProfiles.facebook">
         <form #f="ngForm" style = "background-color:#98EA69;">
            <ion-list style = "background-color:#98EA69;">
				<ion-item style = "background-color:#98EA69;">
                  <ion-label floating style ="background-color:white;">{{"Password" | translate}}</ion-label>
                  <ion-input required type="password" [(ngModel)]="form.password" name="password"></ion-input>
               </ion-item>
            </ion-list>
      <button ion-button icon-left (click)="changePassword(form)" clear big>
        
        <div>{{"ChangePassword" | translate}}</div>
      </button>

            
         </form>
      </ion-card>
  </div>
</ion-content>