<ion-header>
  <ion-navbar color="primary" text-center>	
   <button ion-button menuToggle> 
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Add Education" | translate}}</ion-title>	
  </ion-navbar>
</ion-header> 
<ion-content padding >
			  <div form-group>
               <label>Name</label>
                <ion-item>
                  <ion-label><ion-icon name="ios-person-outline"></ion-icon></ion-label>
                  <ion-input  type="text" value="{{customer.displayName}}" readonly disabled></ion-input>
               </ion-item>
             </div> 
            <div form-group>
               <label>Email</label>
                <ion-item>
                  <ion-label><ion-icon name="ios-mail-outline"></ion-icon></ion-label>
                  <ion-input  type="text" value="{{customer.email}}" readonly disabled></ion-input>
               </ion-item>
             </div> 
			 <div form-group>
               <label>Gender</label>
                <ion-item>
                  <ion-label><ion-icon name="ios-person-outline"></ion-icon></ion-label>
                  <ion-input  type="text" value="{{customer.europeResult}}" readonly disabled></ion-input>
               </ion-item>
             </div> 
			 <div form-group>
               <label>Birthday</label>
                <ion-item>
                  <ion-label><ion-icon name="ios-calendar-outline"></ion-icon></ion-label>
                  <ion-input  type="text" value="{{customer.birthday}}" readonly disabled></ion-input>
               </ion-item>
             </div> 
			
			<div form-group>
			<label>Job Category </label>
			<ion-item lines="none">
			<ion-label>
			<ion-icon name="ios-pricetags-outline"></ion-icon>
			</ion-label>
		      <ion-select [(ngModel)]="customer.jobcategory"  name="jobcategory" placeholder="Select Category">
               <!-- <ion-option *ngFor="let item of jobCategoryName" value="{{item.name}}">{{item.name}}</ion-option> -->
               <ion-option value="System Analysists">System Analysists</ion-option> 
               <ion-option value="Accounting">Accounting</ion-option> 
               <ion-option value="It Engineer">It Engineer</ion-option> 

               </ion-select>
			</ion-item>
			</div>
      <div form-group>
			<label>Education </label>
			<ion-item lines="none">
			<ion-label>
			<ion-icon name="ios-document-outline"></ion-icon>
			</ion-label>
			    <ion-select [(ngModel)]="customer.education"  name="education" placeholder="Select Your Education">
               <!-- <ion-option *ngFor="let item of educationName" value="{{item.name}}">{{item.name}}</ion-option> -->
               <ion-option value="Bachelor">Bachelor</ion-option> 
               <ion-option value="Masters">Masters</ion-option> 
               <ion-option value="Doctors">Doctors</ion-option> 
               </ion-select>
			</ion-item>
			</div>
			 <div form-group>
			<label>University Started </label>
			<ion-item lines="none">
			<ion-label>
			<ion-icon name="ios-calendar-outline"></ion-icon>
			</ion-label>
		      <ion-select [(ngModel)]="customer.started"  name="started" placeholder="Select">
               <!-- <ion-option *ngFor="let item of startedYear" value="{{item.name}}">{{item.name}}</ion-option> -->
               <ion-option value="2014">2014</ion-option> 
               <ion-option value="2015">2015</ion-option> 
               <ion-option value="2016">2016</ion-option> 
               <ion-option value="2017">2017</ion-option> 
               <ion-option value="2018">2018</ion-option> 
               <ion-option value="2019">2019</ion-option> 
               </ion-select>
			</ion-item>
			</div>
        <div form-group>
			<label>University Finished </label>
			<ion-item lines="none">
			<ion-label>
			<ion-icon name="ios-calendar-outline"></ion-icon>
			</ion-label>
		   <ion-select [(ngModel)]="customer.finished"  name="finished" placeholder="Select">
               <!-- <ion-option *ngFor="let item of finishedYear" value="{{item.name}}">{{item.name}}</ion-option> -->
               <ion-option value="2017">2017</ion-option> 
               <ion-option value="2018">2018</ion-option> 
               <ion-option value="2019">2019</ion-option> 

               </ion-select>
			</ion-item>
			</div>
			 <div form-group>
			<label>Worked Year</label>
			<ion-item lines="none">
			<ion-label>
			<ion-icon name="ios-briefcase-outline"></ion-icon>
			</ion-label>
			 <ion-select [(ngModel)]="customer.worked"  name="worked" placeholder="Select">
               <!-- <ion-option *ngFor="let item of workedYear" value="{{item.name}}">{{item.name}}</ion-option> -->
               <ion-option value="4">4 years</ion-option> 
               <ion-option value="5">5 years</ion-option> 
               <ion-option value="7">7 years</ion-option> 

               </ion-select>
			</ion-item>
			</div>
			
			 <div form-group>
			<label>Minimum Salary In $</label>
			<ion-item lines="none">
			<ion-label>
			<ion-icon name="ios-cash-outline"></ion-icon>
			</ion-label>
		     <ion-input type="number" [(ngModel)]="customer.minimum" name="minimum" ></ion-input>
			</ion-item>
			</div>
			<div form-group>
			<label>Maximum Salary In $</label>
			<ion-item lines="none">
			<ion-label>
			<ion-icon name="ios-cash-outline"></ion-icon>
			</ion-label>
		   <ion-input type="number" [(ngModel)]="customer.maximum" name="maximum" ></ion-input>
			</ion-item>
			</div>
			  <div class="error-message">
           <ion-label color="danger" text-wrap>{{errorMessage}}</ion-label>
       </div>

<button round ion-button btnsubmit text-uppercase block color="secondary" [disabled]="disableSubmit" (click)="addEducation()">{{"Save" | translate}}</button>










<!--div class="margin">





      <ion-list>
        
			
			  <ion-item style = "background-color: #E5F9CB;">
			  <h3 ><b>Display Name: {{customer.displayName}}</b></h3>
		
            <ion-label floating>{{"FirstName" | translate}}*</ion-label>
            <ion-input required type="text" [(ngModel)]="customer.displayName" name="firstname"></ion-input>
			
         </ion-item>
		 

		 
         <ion-item style = "background-color : #E5F9CB;">
		 <h3><b>Email: {{customer.email}}</b></h3>
			
         </ion-item>
		 
		 <ion-item style = "background-color : #E5F9CB;">
		 <h3><b>Gender: {{customer.europeResult}}</b></h3>		
         </ion-item>
		 
		 <ion-item style = "background-color : #E5F9CB;">
		 <h3><b>Birthday: {{customer.birthday}}</b></h3>		
         </ion-item>
		 
		 
		 <div style = "height:20px;width:100%;">
				
			</div>
		
		   	<ion-item  class="option" style = "background-color : #98EA69;">
               <ion-label>Job Category</ion-label>
               <ion-select [(ngModel)]="customer.jobcategory"  name="jobcategory">
               <ion-option *ngFor="let item of jobCategoryName" value="{{item.name}}">{{item.name}}</ion-option>
               </ion-select>
            </ion-item>
			
			<div style = "height:20px;width:100%;">
				
			</div>
		
		   <ion-item  class="option" style = "background-color: #98EA69;">
               <ion-label>Education</ion-label>
               <ion-select [(ngModel)]="customer.education"  name="education">
               <ion-option *ngFor="let item of educationName" value="{{item.name}}">{{item.name}}</ion-option>
               </ion-select>
            </ion-item>
			
			<div style = "height:20px;width:100%;">
				
			</div>
			
			
			<ion-item  class="option" style = "background-color : #98EA69;">
               <ion-label>University Started year</ion-label>
               <ion-select [(ngModel)]="customer.started"  name="started">
               <ion-option *ngFor="let item of startedYear" value="{{item.name}}">{{item.name}}</ion-option>
               </ion-select>
            </ion-item>
			
			<div style = "height:20px;width:100%;">
				
			</div>
			
			<ion-item  class="option"  style = "background-color: #98EA69;">
               <ion-label>University Finished year</ion-label>
               <ion-select [(ngModel)]="customer.finished"  name="finished">
               <ion-option *ngFor="let item of finishedYear" value="{{item.name}}">{{item.name}}</ion-option>
               </ion-select>
            </ion-item>
			
			<div style = "height:20px;width:100%;">
				
			</div>
		
			
			<ion-item  class="option" style = "background-color : #98EA69;">
               <ion-label>Worked Year</ion-label>
               <ion-select [(ngModel)]="customer.worked"  name="worked">
               <ion-option *ngFor="let item of workedYear" value="{{item.name}}">{{item.name}}</ion-option>
               </ion-select>
            </ion-item>
			
			<div style = "height:20px;width:100%;">
				
			</div>

			
		
			
		 
         <ion-item style = "background-color: #E5F9CB;">
            <ion-label floating>{{"Wanted Salary Minimum" | translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="customer.minimum" name="minimum" ></ion-input>
         </ion-item>
		 
		 <div style = "height:20px;width:100%;">
				
			</div>
         <ion-item style = "background-color : #E5F9CB;">
            <ion-label floating>{{"Wanted Salary Maximum" | translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="customer.maximum" name="maximum" ></ion-input>
         </ion-item>
      </ion-list>
       <div class="error-message">
           <ion-label color="danger" text-wrap>{{errorMessage}}</ion-label>
       </div>
      <button ion-button no-margin item-right full color="shadow" [disabled]="disableSubmit" (click)="addEducation()">{{"Save" | translate}}</button>
   </div-->

</ion-content>
